<!DOCTYPE html>
<html lang="en" ng-strict-di>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
  <title></title>
  <meta name="description" content="{{description}}">
  <meta name="fragment" content="!">
  <meta name="referrer" content="origin" />

  <!-- Apple META -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <!-- Fav Icon -->
  <link href="/favicon.ico" rel="icon" type="image/x-icon">
  <link rel="stylesheet" href="/style.css" type="text/css">
</head>
<body class="ng-cloak" ng-controller="HeaderController">
  <header header-view class="navbar navbar-fixed-top navbar-inverse" ng-show="navbarActive"></header>
  <section class="content" ng-show="!transitioning">
    <section class="container">
      {{{block "content"}}}
    </section>
  </section>
  <div ng-if="transitioning" class="loading">
    <div class="ebLoader">
        <div class="ebLoader-Holder">
            <span class="ebLoader-Dots ebLoader-Dots_color_darkPurple ebLoader-Dots_size_big"></span>
        </div>
    </div>
  </div>
  <div ng-if="!transitioning" http-loading class="loading">
    <div class="ebLoader">
        <div class="ebLoader-Holder">
            <span class="ebLoader-Dots ebLoader-Dots_color_darkPurple ebLoader-Dots_size_big"></span>
        </div>
    </div>
  </div>

  <!--Embedding The User Object-->
  <script type="text/javascript">
    var user = {{{ user }}};
    var env = "{{ env }}";
  </script>

  <script type="text/javascript" src="/bundle.js"></script>
</body>

</html>
