<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Dashboard</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link href='EricssonCapitalTT.ttf' rel='stylesheet' type='x-font-ttf'>
  <link rel="shortcut icon" href="favicon.ico" />
</head>

<body>
  <h1>Deployment Inventory Tool Dashboard</h1>
  <div class="topnav">
    <a href="/">Production</a>
    <a class="active" href="/statsPage">Project Statistics</a>
  </div>
  <table style="border:0;">
    <tr>
      <td>
        <iframe frameborder=0 width=1500 height=600 src="/stats"></iframe>
      </td>
    </tr>
  </table>
</body>
</html>